<p-toast position="top-right"></p-toast>

<div class="p-col-12">
  <form [formGroup]="form" class="p-grid">

    <div class="p-grid p-col-12 p-justify-center">

      <app-input-field class="p-grid p-col-12 p-justify-center" label="Nome:">
        <input placeholder="Nome" class="p-col-12" type="text" pInputText formControlName="firstname" name="firstname" id="firstname">
      </app-input-field>

      <app-input-field class="p-grid p-col-12 p-justify-center" label="Sobrenome:">
        <input placeholder="Sobrenome" class="p-col-12" type="text" pInputText formControlName="lastname" name="lastname" id="lastname">
      </app-input-field>

      <app-input-field class="p-grid p-col-12 p-justify-center" label="Email:">
        <input placeholder="Email" class="p-col-12" type="email" pInputText formControlName="email" name="email" id="email" (keyup)="verifyEmailAlreadyRegistered($event)">
      </app-input-field>

      <app-input-field class="p-grid p-col-12 p-justify-center" label="NIS (PIS):">
        <input placeholder="Pis" class="p-col-12" type="text" pInputText formControlName="pis" name="pis" id="pis">
      </app-input-field>

    <ng-container *ngIf="editing; else make">
      <p-button
        label="Alterar"
        [disabled]="form.invalid"
        icon="pi pi-edit"
        iconPos="left"create
        (onClick)="update()">
      </p-button>
    </ng-container>

    <ng-template #make>
      <p-button
        label="Cadastrar"
        [disabled]="form.invalid"
        icon="pi pi-check"
        iconPos="left"
        (onClick)="create()" >
      </p-button>
    </ng-template>

    <p-button
      styleClass="ui-button-warning"
      label="Reset"
      icon="pi pi-reset"
      iconPos="left"
      (onClick)="resetForm()">
    </p-button>
  </div>
</form>

<app-input-auto-request placeholder="Buscar funcionário" tooltip="Por nome, sobrenome, email, pis ou nome completo" (emitter)="find($event)"></app-input-auto-request>

  <p-table
    [value]="employers"
    [responsive]="true"
    [paginator]="true"
    [totalRecords]="countEmployers"
    [rows]="employers?.length"
    (onPage)="getEmployersPageable($event)">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Email</th>
            <th>Pis</th>
            <th style="width: 170px">Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-emp>
      <tr>
        <td>{{emp.firstname | titlecase}}</td>
        <td>{{emp.lastname | titlecase}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.pis}}</td>
        <td id="acoes" >
          <div class="p-grid p-justify-between">
            <i pTooltip="Ver detalhes" class="pi pi-search" [routerLink]="['/employer', emp.id]"></i>
            <i pTooltip="Editar" class="pi pi-user-edit" (click)="edit(emp)"></i>
            <i pTooltip="Deletar" class="pi pi-trash" (click)="showConfirm(emp.id)"></i>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-emp>
        <tr>
            <td [attr.colspan]="5">
              {{ countEmployers }} funcionários encontrados. Mostrando de {{employers?.length}}.
            </td>
        </tr>

    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="5">
                Nenhum funcionário encontrado.
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>

<p-toast position="center" key="deleteFunc" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Yes" class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

